{% extends "main.html" %}

{% block title %}
HOME
{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-sm navbar-responsive bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href=" ">Livestock</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/add">Add Animal</a>
        </li>
        </ul>
        <ul class="navbar-nav">
               <style>
            .navbar-nav{
                margin-left: auto;
            }
            </style>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/profile">profile information</a>
          </li>
      <div class="d-flex">
        <div style="width: 500px; margin: auto;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/upload_display_video">videos</a>
          </li>
            <fieldset name="Video File Upload and Display">
              {% if msg %} {% autoescape off %} {{ msg }} {% endautoescape %} {% endif %}
              <form method="post" action="/" enctype="multipart/form-data">
                {% csrf_token %}
                <dl>
                  <p>
                    <label>Browse and select a video file</label>&nbsp;&nbsp;
                    <input type="file" name="file" autocomplete="off" required>
                  </p>
                </dl>
                <p>
                <input type="submit" value="Upload and Display">
                </p>
            </form>
          </fieldset>
              
          {% if filename %}
            <div style="margin: 10px auto;">
              <video autoplay="autoplay" controls="controls" preload="preload">
                  <source src="{{ MEDIA_URL }}/{{ filename }}" type="video/mp4"></source>
              </video>
              </div>
            {% endif %}
          </div>	
          <div class="d-flex">
            <li class="nav-item">
              <a class="nav-link" href="/logout">LOGOUT</a>
            </li>
          </div>    
              
        </div>
    </ul>
  </div>
</div>
</nav>
<br>
<br>
<table class="table table-striped table-responsive">
  <thead>
    <tr>
      <th scope="col">Animal Number</th>
      <th scope="col">Animal Type</th>
      <th scope="col">Sex</th>
      <th scope="col">Weight(KG)</th>
      <th scope="col">Insurance Validity</th>
      <th scope="col">Vaccination Status</th>
      <th scope="col">Special ID</th>
      <th scope="col">Last Doctor Visit</th>
      <th scope="col">Modifications</th>
    </tr>
  </thead>
  {% for D in data %}
  <!-- {% for i in range(9): 
      i %} -->
  <tr>
    <td scope="col">{{D.id}}</td>
    <td scope="col">{{D.aclass}}</td>
    <td scope="col">{{D.sex}}</td>
    <td scope="col">{{D.weight}}</td>
    <td scope="col">{{D.insurance}}</td>
    <td scope="col">{{D.vacstatus}}</td>
    <td scope="col">{{D.vdate}}</td>
    <td scope="col">{{D.ddate}}</td>
      <td>
          <a class="btn btn-danger bg-gradient" href="{% url 'delete' D.id %}" role="button">Delete</a></td>
          </tr>
  </tr>

  {% endfor %}
  

  <tbody>
    
  </tbody>
</table>
<style>
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
}
</style>


{% endblock body %}